



<ion-content [fullscreen]="true">
  <div id="fondoheader">
    <ion-header id="main-content2" >
      
      <ion-toolbar >
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Asistencia 5</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
  <ion-menu contentId="main-content2">
    <ion-header id="headermenu">
      <ion-toolbar>
        <h2>Asistencia 5</h2>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h4>Menu</h4>
      <ion-button expand="block" fill="outline" (click)="inicio()">Inicio</ion-button>
      <ion-button expand="block" fill="outline" (click)="parte()">Nuevo parte</ion-button>
      <ion-button expand="block" fill="outline">Origen y causa</ion-button>
      <ion-button expand="block" fill="outline" (click)="cerrarSesion()">Cerrar sesion</ion-button>
    </ion-content>
  </ion-menu>
  
    <!-- <div class="ion-page" id="main-content2">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Asistencia 5</ion-title>
        </ion-toolbar>
      </ion-header>
    </div> -->
  <!-- </ion-header> -->
  <!-- <ion-header>
    <ion-toolbar>
      <h2>Asistencia 5</h2>
    </ion-toolbar>
  </ion-header>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <h2>Asistencia 5</h2>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h4>Menu</h4>
      <ion-button expand="block" fill="outline" (click)="inicio()">Inicio</ion-button>
      <ion-button expand="block" fill="outline" (click)="parte()">Nuevo parte</ion-button>
      <ion-button expand="block" fill="outline">Origen y causa</ion-button>
      <ion-button expand="block" fill="outline" (click)="cerrarSesion()">Cerrar sesion</ion-button>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Asistencia 5</ion-title>
      </ion-toolbar>
    </ion-header>
   -->





    <ion-card>
      <ion-card-header>
        <ion-card-title>Redaccion de Parte</ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <ion-input label="Fecha" type="date"></ion-input>

        <ion-input label="Clave" type="text"></ion-input>

        <ion-list>
          <ion-item label="Asistencias">
            <ion-select aria-label="bomberos" placeholder="añadir bomberos" [multiple]="true">
              <ion-select-option value="any">*</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item label="OBAC del servicio">
            <ion-select aria-label="OBAC" placeholder="Seleccione OBAC">
              <ion-select-option value="any">*</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-input label="Obac del servicio "></ion-input>

        <ion-input label="N° servicio " type="number"></ion-input>

        <ion-input label="Observaciones/daños"></ion-input>
        
        <ion-input label="Direccion" type="text"></ion-input>

        <!-- <ion-input label="------ agregar fila de campos opcional"></ion-input> -->

        <ion-list>
          <!-- Aquí está el botón que abrirá el ion-select -->
          <ion-button (click)="openSelector()">Mostrar Selector</ion-button>
          <!-- selector -->
          <ion-item style="display: none;">
            <ion-label>Seleccione una opción</ion-label>
            <ion-select #selectComponent [(ngModel)]="selectedOption" (ionChange)="onOptionChange()">
              <ion-select-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</ion-select-option>
            </ion-select>
          </ion-item>
      
          <div *ngFor="let field of fields; let i = index">
            <ion-item>
              <ion-label>{{ field.label }}</ion-label>
              <ion-input [type]="field.type" [(ngModel)]="field.value"></ion-input>
              <ion-button slot="end" (click)="removeField(i)">Borrar</ion-button>
            </ion-item>
          </div>
      
          <br>
          <ion-button (click)="addField()">Agregar campo</ion-button>
        </ion-list>
        
        
        <!--  -->
        
        
        <ion-input label="-------"></ion-input>
        <ion-input label="Despacho?"></ion-input>
        <ion-input label="Maquinas de apoyo"></ion-input>
        <ion-input label="Otras instituciones"></ion-input>
        <ion-input label="Registro monitoreo"></ion-input>
        <ion-input label="Maquina 51 salida" type="datetime-local"></ion-input>
        <ion-input label="Llegada"></ion-input>
        <ion-input label="Mando"></ion-input>
        <ion-input label="Conductor"></ion-input>
        <ion-input label="Involucrados"></ion-input>
        
        
        <ion-input label="Origen/Causa"></ion-input>
        <ion-input label="aqui se pone qr"></ion-input>
        <ion-input label="Uso de ERA si no cantidad cilindros disponibles"></ion-input>

      </ion-card-content>
      <ion-row class="cardfooter">
        <ion-col>
              <ion-button fill="outline" color="dark">Cancelar</ion-button>
              <ion-button fill="solid" color="success">Guardar y Continuar</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>