ion-toolbar{

    --ion-background-color:#171742;
  }

#titulopage{
    color: #ffffff;
    text-align: center;
}

ion-img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}

.custom-label {
font-weight: bold;
text-decoration: underline;
}

#labelqr {
    text-align: center;
  }


#reloj{
    height: auto;
    width: auto;
    
}