



<ion-content [fullscreen]="true">
  <div id="fondoheader">
    <ion-header id="main-content2" >
      
      <ion-toolbar >
        <ion-buttons slot="start">
          <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title id="titulopage">Asistencia 5</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
  <ion-menu contentId="main-content2">
    <ion-header id="headermenu">
      <ion-toolbar>
        <h2>Asistencia 5</h2>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h4>Menu</h4>
      <ion-button expand="block" fill="outline" (click)="inicio()">Inicio</ion-button>
      <ion-button expand="block" fill="outline" (click)="parte()">Nuevo parte</ion-button>
      <ion-button expand="block" fill="outline">Origen y causa</ion-button>
      <ion-button expand="block" fill="outline" (click)="cerrarSesion()">Cerrar sesion</ion-button>
    </ion-content>
  </ion-menu>

  <!-- Aqui comienza el formulario -->
  
    <ion-card class="bordered-card">
      <ion-card-header>
        <ion-card-title>Redaccion de Parte</ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input class="custom-label" label="Fecha" type="date" [(ngModel)]="miFecha"></ion-input>
          </ion-item>
        </ion-list>
        
        <ion-list>
          <ion-item label="Clave Despacho">
            <ion-select class="custom-label" placeholder="Seleccionar clave de despacho" [(ngModel)]="codClaveDespacho">
              <ion-select-option *ngFor="let clave of clavedespacho" [value]="clave.COD_CLAVE_DESPACHO">{{ clave.DESCRIPCION }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item label="Asistencias">
            <ion-select class="custom-label" aria-label="bomberos" placeholder="añadir bomberos" [(ngModel)]="selectedBomberos" [multiple]="true">
              <ion-select-option *ngFor="let bombero of bomberos" [value]="bombero.NUM_ANTIGUEDAD">{{ bombero.NOMBRE }} {{bombero.P_APELLIDO}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        

        <ion-list>
          <ion-item label="OBAC del servicio">
            <ion-select class="custom-label" aria-label="OBAC" placeholder="Seleccione OBAC">
              <ion-select-option *ngFor="let bombero of bomberos" [value]="bombero.NUM_ANTIGUEDAD">{{ bombero.NOMBRE }} {{bombero.P_APELLIDO}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-input class="custom-label" label="N° servicio " type="number" [(ngModel)]="numServicio"></ion-input>
        
        <ion-input class="custom-label" label="Direccion" type="text" [(ngModel)]="direccion"></ion-input>

        <ion-input class="custom-label" label="Observaciones/daños" [(ngModel)]="observacion"></ion-input>

        <!-- <ion-input label="------ agregar fila de campos opcional"></ion-input> -->

        <ion-list>
          <!-- Aquí está el botón que abrirá el ion-select -->
          <ion-button class="dashed-outline-button" size="large" expand="block" outline (click)="openSelector()">
            <ion-icon name="add-circle-outline" color="success"> </ion-icon>
            Añadir informacion
          </ion-button>
          <!-- selector -->
          <ion-item style="display: none;">
            <ion-label>Seleccione una opción</ion-label>
            <ion-select #selectComponent [(ngModel)]="selectedOption" (ionChange)="onOptionChange()">
              <ion-select-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</ion-select-option>
            </ion-select>
          </ion-item>
      

          <p>{{ miTexto }}</p>
          <div *ngFor="let field of fields; let i = index">
            
            <ion-item>
              <!-- <ion-label>{{ field.label }}</ion-label> -->
              <ion-input *ngIf="field.type !== 'time'" [type]="field.type" [(ngModel)]="field.value" (ngModelChange)="updateValue(field.reference, $event)">{{ field.label }}</ion-input>

              <!-- Campo para seleccionar la hora -->
              <ion-input *ngIf="field.label === 'Salida'" type="time" [(ngModel)]="horaDespacho"></ion-input>
              <ion-input *ngIf="field.label === 'Llegada'" type="time" [(ngModel)]="horaLlegada"></ion-input>

              <ion-label *ngIf="field.type === 'select'">{{ field.label }}</ion-label>
              <ion-select *ngIf="field.type === 'select'" [(ngModel)]="field.value" (ngModelChange)="updateValue(field.reference, $event)">
                  <ion-select-option *ngFor="let option of field.options" [value]="option[field.valueField]">{{ option[field.displayField] }}</ion-select-option>
              </ion-select>

              <ion-button slot="end" (click)="removeField(i)">Borrar</ion-button>
            </ion-item>
          </div>
      
          <br>
        </ion-list>
        
        <!--  -->

      </ion-card-content>
      <ion-row class="cardfooter">
        <ion-col>
              <ion-button fill="outline" color="dark">Cancelar</ion-button>
              <ion-button fill="solid" color="success" (click)="guardar()">Guardar y Continuar</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>

</ion-content>
