

<ion-content [fullscreen]="true">
  <router-outlet></router-outlet>
  
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <h2>Asistencia 5</h2>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h4>Menu</h4>
      <ion-button expand="block" fill="outline" (click)="inicio()">Inicio</ion-button>
      <ion-button expand="block" fill="outline" (click)="parte()">Nuevo parte</ion-button>
      <ion-button expand="block" fill="outline">Origen y causa</ion-button>
      <ion-button expand="block" fill="outline" (click)="cerrarSesion()">Cerrar sesion</ion-button>
    </ion-content>
  </ion-menu>
  
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Asistencia 5</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
  
      <ion-button expand="block" fill="outline" (click)="parte()">
        <ion-icon name="document-text-outline"></ion-icon>
        Nuevo 
        Parte
      </ion-button>
  
      <br>
      <h3>Historial</h3>
      <ion-searchbar placeholder="Buscar"></ion-searchbar>
  
      <!-- aqui se selecciona el parte a ver -->
  
    
    </ion-content>
  </div>
</ion-content>
