<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>asistente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title size="large">Asistencia 5</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h4>Menu</h4>
      <ion-button (click)="inicio()">Inicio</ion-button>
      <ion-button (click)="parte()">Nuevo parte</ion-button>
      <ion-button>Origen y causa</ion-button>
      <ion-button (click)="cerrarSesion()">Cerrar sesion</ion-button>
    </ion-content>
  </ion-menu>
  
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
  
      <ion-button fill="outline">
        <ion-icon name="document-text-outline"></ion-icon>
        Nuevo <br>
        Parte
      </ion-button>
  
      <br>
      <h3>Historial</h3>
      <ion-searchbar placeholder="Buscar"></ion-searchbar>
  
      <!-- aqui se selecciona el parte a ver -->
  
    </ion-content>
  </div>
</ion-content>
