<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->


<!-- Este es page home -->



<ion-content class="fondocontent">
  <div class="logo-container">
    <ion-img src="../assets/img/logo-quinta-200px.png"></ion-img>
    <h2 id="Titulosobrefondo" class="ion-text-center">Asistencia5</h2>
  </div>

  <ion-card>
    <ion-card-header class="ion-text-center">Iniciar sesión</ion-card-header>
    <ion-card-content>
      <div class="input-login">
        <ion-input type="email" placeholder="E-mail"></ion-input>
        <ion-input type="password" placeholder="Contraseña"></ion-input>
      </div>
      <div class="botones-container">
        <ion-button (click)="ingresar()">Iniciar sesión</ion-button>
        <ion-button>Recuperar Contraseña</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>




